<h2>
    <app-primeiro-componente></app-primeiro-componente>
    <app-two-way-data-binding></app-two-way-data-binding>
    <app-segundo-compornente></app-segundo-compornente>
    <app-pipe-customizado></app-pipe-customizado>
    <app-renderizando-listas></app-renderizando-listas>
    <app-personalizado nome="RIchard" sobrenome="Santos"> </app-personalizado>
    <app-componente-pai></app-componente-pai>
    <app-componente-servicos1></app-componente-servicos1>
    <app-componente-servicos02></app-componente-servicos02>
</h2>