<h2>

    <app-card titulo=" Primeiro componente" cor="#A2AD91">
        <app-primeiro-componente></app-primeiro-componente>
    </app-card>
    <app-card titulo=" two Way data Binding" cor="#3A2D32">
        <app-two-way-data-binding></app-two-way-data-binding>
    </app-card>
    <app-card titulo=" Segundo componente" cor="#3A2E20">
        <app-segundo-compornente></app-segundo-compornente>
    </app-card>
    <app-card titulo="Pipe Customizado"cor="#3A2D20">
        <app-pipe-customizado></app-pipe-customizado>
    </app-card>
    <app-card titulo="Criando Listas" cor="#FFE3DC">
        <app-renderizando-listas></app-renderizando-listas>
    </app-card>
    <app-card titulo="Class Personalizada"cor="#3A2D32">
        <app-personalizado nome="RIchard" sobrenome="Santos"> </app-personalizado>
    </app-card>
    <app-card cor="#3A2D38">
        <app-componente-pai></app-componente-pai>
    </app-card>
    <app-card titulo="Serviço 01" cor="#3A2D20">
        <app-componente-servicos1></app-componente-servicos1>
    </app-card>
    <app-card titulo=" Serviço 02"cor="#3A2D34">
        <app-componente-servicos02></app-componente-servicos02>
    </app-card>
    <app-card cor="#3A2D31">
        <app-ciclo-de-vida></app-ciclo-de-vida>
    </app-card>
    <app-card cor="#3A2D39">
        <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
    </app-card>
</h2>